@{
    ViewBag.Title = "Home Page";
}
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}*@
<h3>MVC 4 Resource Authorization Demo</h3>
<ol class="round">
    <li>
        @Html.RouteLink("Resource List", "BaseResource")
    </li>
</ol>
