@model MvcCrudDemo.Models.CachedResource

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Cached Resource</h2>

@using (Html.BeginRouteForm("CachedResource", new { Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <span>Resource Name:</span> @Html.TextBox("Name", Model.Name)<br />
    <input type="submit" value="update resource" />
}
