@model MvcCrudDemo.Models.CachedResource

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New CachedResource</h2>

@using (Html.BeginRouteForm("CachedResource"))
{
    <span>Resource Name:</span> @Html.TextBox("Name", "New Resource")<br />
    <input type="submit" value="create resource" />
}
