@{
    ViewBag.Title = "Home Page";
    // TODO (perf): combine, minify these to a single file or injectable string.
    // setting LibPaths per view enables loading different supplementary libs for each view.
    // _Layout.cshtml loads jquery and jqueryui.
    ViewBag.LibPaths = new List<string>() {
		"/Scripts/jstree/jquery.hotkeys.js",
		"/Scripts/jstree/jquery.jstree.js",
        "/Scripts/app/orgtree.js"
	};
    // function invoked immediately on ready...
    var funcInvoke = String.Format("function() {{ approot='{0}'; getData(); createDialogs();}}", Url.Content("~"));
//	var funcInvoke = "function() { buildTree(); }";
	ViewBag.OnReady = Html.Raw(funcInvoke);
}
<div id="OrgTree">Loading Org Structure...</div>
<div id="DeptDetail" title="edit department">
	2-5 char code:<input id="Code" type="text" />
	short name:<input id="ShortName" type="text" />
	HRMS OrgUnit:
	<select id="HrmsOrgUnit">
		<option value=""> - none - </option>
		@foreach (KeyValuePair<int, string> kv in ViewBag.HrmsOrgUnits)
  {
	  <option value="@kv.Key">@kv.Value</option>
  }
	</select>
</div>