@using ResourceAuthorizationDemo.Models
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Base Resource List</h2>
<ul>
@foreach (BaseResourceModel brm in Model)
{
    <li>@brm.Id</li>
}
</ul>

