@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New BaseResource</h2>

@using (Html.BeginRouteForm("BaseResource"))
{
    <span>Resource Name:</span> @Html.TextBox("Name", "New Resource")<br />
    <input type="submit" value="create resource" />
}
