<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">CTS Org Manager</a></p>
			<br />
        </div>
    </div>
</header>
<div id="body">
    <section class="content-wrapper main-content clear-fix">
		<div id="OrgTree">Loading Org Structure...</div>
    </section>
</div>
<div id="DeptDetail" title="edit department" style="visibility:hidden">
	CTS Org Unit Id: <span id="Id"></span><br />
	2-5 char code:<input id="Code" type="text" />
	short name:<input id="ShortName" type="text" />
	HRMS OrgUnit: <span id="HrmsOrgUnitName"></span><br />
	<br />
	<span id="FilledPositions"></span> of <span id="PositionCount"></span> positions filled.
</div>
